{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h4 class="server-status">
                Server status <span class="badge {{ server_status }}">{{ server_status }}</span>
            </h4>
        </div>
    </div>    
    <div class="row clients-status-bar">
        <div class="col-6">
            <h4 class="clients-registered">
                Clients
                {% if training_clients|length == 0 %}
                    <small class="text-muted">(no clients registered in the network yet)</small>
                {% elif training_clients|length == 1 %}
                    <small class="text-muted">(<span class="badge badge-pill badge-light">1</span> client is registered in the network)</small>
                {% else %}
                    <small class="text-muted">(<span class="badge badge-pill badge-light">{{ training_clients|length }}</span> clients are registered in the network)</small>
                {% endif %}
                <a href="/" class="btn btn-sm btn-outline-dark" title="Refresh clients table"><i class="fa fa-sync"></i></a>
            </h4>
        </div>
        <div class="col-6">
            <div class="dropdown float-right">
                <button type="button" id="launchTrainingButton"
                        class="btn btn-success dropdown-toggle" {{ '' if clients_ready_for_training else 'disabled' }}
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Launch training
                </button>
                <div class="dropdown-menu" aria-labelledby="launchTrainingButton">
                    <a class="dropdown-item" id="mnistTrainingButton" href="#">MNIST training</a>
                    <a class="dropdown-item" id="chestXRayTrainingButton" href="#">CHEST X-RAY training</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">URL (status)</th>
                </tr>
                </thead>
                {%  for client_url,training_client in training_clients.items() %}
                    <tr>
                        <td>{{ client_url }} <span class="badge {{ training_client.status }}">{{ training_client.status }}</span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <canvas id="mycanvas" width="200" height="200"></canvas>
            <script>
                //aqui hauria de anar la recopilació de dades
                // cambiar els grafics per la seguent idea: punts i que es vagin ficant les acuracies(mitjana) i aixi nem mirant el historic
                //la idea seria obrir aqui el fitxer, i anem llegint eljson
                // used for example purposes
                function getRandomIntInclusive(min, max) {
                    min = Math.ceil(min);
                    max = Math.floor(max);
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }

                // create initial empty chart
                var ctx_live = document.getElementById("mycanvas");
                var myChart = new Chart(ctx_live, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                    data: [],
                    borderWidth: 1,
                    borderColor:'#00c0ef',
                    label: 'accuracy',
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                    display: true,
                    text: "Graphical analisis of the diferent accuracy values",
                    },
                    legend: {
                    display: false
                    },
                    scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true,
                        }
                    }]
                    }
                }
                });

                // this post id drives the example data
                var postId = 1;

                // logic to get new data
                var getData = function() {
                $.ajax({
                    url: 'https://localhost:5000/nostre',
                    success: function(data) {
                    // process your data to pull out what you plan to use to update the chart
                    // e.g. new label and a new data point
                    
                    // add new label and data point to chart's underlying data structures
                    myChart.data.labels.push("Post " + postId++);
                    myChart.data.datasets[0].data.push(getRandomIntInclusive(1, 25));
                    
                    // re-render the chart
                    myChart.update();
                    }
                });
                };

                // get new data every 3 seconds
                setInterval(getData, 3000);
                </script>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
